/* global CSS here, managed by snowpack */

/* STYLE */
body {
  font-family: "Roboto", sans-serif;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

table .border-top {
  border-top: 3px solid black;
}

table thead {
  background: 
}

.break-word {
  word-break: break-word;
}

.margin-right-10 {
  margin-right: 10px;
}

.is-sidebar-menu {
  padding: 2rem;
  padding: 30px 15px 30px 25px;
  background: #4a4a4a;
}

.is-sidebar-menu li a {
  color: white;
}

.is-sidebar-menu li a.no-hover {
  pointer-events: none;
}

.columns.is-fullheight {
  min-height: calc(100vh - (3.25rem - 0.75rem));
  max-height: calc(100vh - (3.25rem - 0.75rem));
  height: calc(100vh - (3.25rem - 0.75rem));
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.columns.is-fullheight .column {
  overflow-y: auto;
}

.is-main-content {
  background: #dbdbdb;
}

.is-title {
  padding: 20px 0px;
  font-weight: bold;
}

/* FORM */
#add_receipt_item,
#add_offering {
  margin-top: 20px;
  margin-left: 25px;
}

/* DATE INPUT  */
ul.date-input-container {
  list-style-type: none;
  margin: 0;
}
li .input {
  width: 40%;
}
.input.from-date {
  width: 20%;
}

/* CRUD Template */

section.is-card,
section.is-table,
section#mass-intentions-pdf {
  padding: 30px 20px;
}

.is-card .container,
.is-table .container,
#mass-intentions-pdf .container {
  max-width: 100%;
}

#receipt .node-other,
#receipt .node-payment-method {
  display: none;
}

.box {
  background: #f2f2f2;
}
