/* global CSS here, managed by snowpack */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.4/css/bulma.css");

/* STYLE */
body {
  font-family: "Roboto", sans-serif;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.margin-right-10 {
  margin-right: 10px;
}

.is-sidebar-menu {
  padding: 2rem;
  background: #4a4a4a;
}
.is-sidebar-menu li a {
  color: white;
}

.columns.is-fullheight {
  min-height: calc(100vh - (3.25rem - 0.75rem));
  max-height: calc(100vh - (3.25rem - 0.75rem));
  height: calc(100vh - (3.25rem - 0.75rem));
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.columns.is-fullheight .column {
  overflow-y: auto;
}

.is-main-content {
  background: #dbdbdb;
}

.is-title {
  padding: 20px 0px;
  font-weight: bold;
}

/* FORM */
#add_receipt_item {
  margin-top: 20px;
  margin-left: 25px;
}

/* CRUD Template */

section.is-card,
section.is-table {
  padding: 30px 20px;
}

.is-card .container,
.is-table .container {
  max-width: 100%;
}

#receipt .node-other,
#receipt .node-payment-method {
  display: none;
}

.box {
  background: #f2f2f2;
}